<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"  
    id="ibp.plugin.watch"  
    version="0.0.1">
    <name>Watch</name>
    <description>Android Watch</description>
    <author>xifeiwu</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/watch.js" name="watch">
        <clobbers target="WatchNative" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WatchPlugin">
                <param name="android-package" value="ibp.plugin.watch.WatchPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            <service android:name="ibp.plugin.watch.Service4Watch">
                <intent-filter>
                    <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
                </intent-filter>
            </service>
        </config-file>

        <source-file src="src/android/WatchPlugin.java" target-dir="src/ibp/plugin/watch" />
        <source-file src="src/android/Service4Watch.java" target-dir="src/ibp/plugin/watch" />
<!--
        <source-file src="src/android/" target-dir="src/ibp/plugin/watch" />
        <source-file src="src/android/" target-dir="src/ibp/plugin/watch" />
        <source-file src="src/android/" target-dir="src/ibp/plugin/watch" />
        <source-file src="src/android/" target-dir="src/ibp/plugin/watch" />
        <source-file src="src/android/" target-dir="src/ibp/plugin/watch" />
        <source-file src="src/android/" target-dir="src/ibp/plugin/watch" />
        <source-file src="src/android/" target-dir="src/ibp/plugin/watch" />
-->
    </platform>

</plugin>

